
.dark-mode{
  background-color: black;
  color: white;
}





.video{
    
    position: fixed;
  right: 0;
  margin-bottom: 0;
  bottom: 0%;
  min-width: 100%;
  min-height: 100%;
  

}
.content{
    position: fixed;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.carousel-item{
  height: 100vh;
  min-height: 300px;

}
.carousel-caption{
  bottom: 200px;
  z-index: 2;
}
.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p{
  width: 60%;
  margin:auto;
  font: size 18px;
  line-height: 1.8;

}

.carousel-caption a{
text-transform: uppercase;
text-decoration: none;
background: #1977cc;
padding: 5px 20px;
display: inline-block;
color: #fff;
margin-top: 15px;
border-radius: 15px;


}
.carousel-inner::before{
  content: '';
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: #000;
}

@media only screen and (max-width: 767px) {

  .navbar-nav{
    text-align: center;
  }
  .carousel-caption{
    bottom: 162px;
  }
  .carousel-caption h5{
    font: size 16px;

  }
  .carousel-caption a{
    padding: 10px 15 px;
    font-size: 14px;

  }
  .navbar .appbtn{
    display: none;
  }
  
}

.table-d{
  width: 95%;
  margin-left: -auto;
  margin-right: 2%;
}
.p-end{
  text-align: center;
  text-decoration: dotted;
  padding: 10px 15 px;
    font-size: 14px;
}
 .title-p{
 
  font-family:Arial, Helvetica, sans-serif;
}